body{
	font-family: "微軟正黑體","Central Gothic","Arial";
}
/**********
index.jsp-start
***********/
/*nav*/
.navchg{
	background: black;
	padding: 5px 0 5px 0;
	font-size: 16px;
}
.navlogo{
	float: left;
	width: 4%;
	margin-right: 3px;
}
.navbar-brand span{
	font-size: 26px;
}
.navchg .navbar-header img{
	height: 50px;
}
/*header */
header .jumbotron{
	text-align: center;
	color: #FFFFFF;
}
header .jumbotron h2{
	text-shadow:2px 2px 2px #242424;
}
header .headerbg{
	background: url(../img/header3.jpg) repeat;
}
header .headerbtn{
	background: #06CE93;
	border: solid 2px #FFFFFF;
}
header .headerbtn:hover{
	color: #383A30;
	background: #FFFFFF;
	border: solid 2px #EAEAEA;
}
/*container*/
.thumbnail img{
	width: 50%;
}
/**********
end of index.jsp
**********/

/*--login--*/
.container_reg{
	height: 100%;
	background-image: url(../img/desktop.jpg) ;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 50px 0px 50px 0px;
}
.login_div{
	margin: 0px auto 0px auto;
	background-color:#e4e4e4;
	width: 400px;
	height: 400px;
	border-radius: 200px;
	text-align: center;
	filter:alpha(opacity=70);
	opacity:0.8;
	zoom:1;
}
.logo_log{
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
	color: #272822;
}
.form-group_log{
	margin-top: 20px;
	padding-left: 60px;
}
.textbox_log{
	width: 200px;
	margin-left: 10px;
	padding: 10px 10px 10px 35px;
	border-width: 2px;
	border-style:inset;
}
.textbox_name {
	background:url(../img/user-icon.png)no-repeat;
}
.textbox_email{
	background:url(../img/email-icon.png)no-repeat;
}
.textbox_pwd{
	background: url(../img/key-icon.png)no-repeat;
}
.link_log{
	font-size: 14px;
	font-weight: bold;
	margin-right: 30px;
}
.btn_log{
	background-color: #e4e4e4;
	color: #272822;
	border-width: 1.5px;
	font-weight: bold;
	border-radius: 0%;
	border-color: #838673;
}
.btn_log:hover{
	color: #F0F0EE;
	background-color: #272822;
}
/*hotProduct*/
.hotProduct_div{
	background: rgba(255,255,255,0.9);
	height: 100%;
	text-align: center;
}
.table_chg > tbody > tr{
	border-top:solid 2px #272822;	
}
.table_chg > tbody > tr:hover {
  background-color: #7cc9b2;
}
.footer_right{
	color: #FFFFFF;
	float: right;
	margin:10px 50px 0 0;
}