<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SA_Proactive</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddMemberServlet</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAccountServlet</display-name>
    <servlet-name>CheckAccountServlet</servlet-name>
    <servlet-class>servlet.CheckAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAccountServlet</servlet-name>
    <url-pattern>/CheckAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartCombinationServlet</display-name>
    <servlet-name>AddCartCombinationServlet</servlet-name>
    <servlet-class>servlet.AddCartCombinationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartCombinationServlet</servlet-name>
    <url-pattern>/AddCartCombinationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCartServlet</display-name>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>servlet.DelCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/DelCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCartCombinationServlet</display-name>
    <servlet-name>DelCartCombinationServlet</servlet-name>
    <servlet-class>servlet.DelCartCombinationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCartCombinationServlet</servlet-name>
    <url-pattern>/DelCartCombinationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiPasswordServlet</display-name>
    <servlet-name>ModiPasswordServlet</servlet-name>
    <servlet-class>servlet.ModiPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiPasswordServlet</servlet-name>
    <url-pattern>/ModiPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiQuantityServlet</display-name>
    <servlet-name>ModiQuantityServlet</servlet-name>
    <servlet-class>servlet.ModiQuantityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiQuantityServlet</servlet-name>
    <url-pattern>/ModiQuantityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPriceServlet</display-name>
    <servlet-name>AddPriceServlet</servlet-name>
    <servlet-class>servlet.AddPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPriceServlet</servlet-name>
    <url-pattern>/AddPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCPUServlet</display-name>
    <servlet-name>AddCPUServlet</servlet-name>
    <servlet-class>servlet.AddCPUServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCPUServlet</servlet-name>
    <url-pattern>/AddCPUServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartCustomerlizeServlet</display-name>
    <servlet-name>AddCartCustomerlizeServlet</servlet-name>
    <servlet-class>servlet.AddCartCustomerlizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartCustomerlizeServlet</servlet-name>
    <url-pattern>/AddCartCustomerlizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOtherServlet</display-name>
    <servlet-name>AddOtherServlet</servlet-name>
    <servlet-class>servlet.AddOtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOtherServlet</servlet-name>
    <url-pattern>/AddOtherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCartCustomerlizeServlet</display-name>
    <servlet-name>DelCartCustomerlizeServlet</servlet-name>
    <servlet-class>servlet.DelCartCustomerlizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCartCustomerlizeServlet</servlet-name>
    <url-pattern>/DelCartCustomerlizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MLoginServlet</display-name>
    <servlet-name>MLoginServlet</servlet-name>
    <servlet-class>servlet.MLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MLoginServlet</servlet-name>
    <url-pattern>/MLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MLogoutServlet</display-name>
    <servlet-name>MLogoutServlet</servlet-name>
    <servlet-class>servlet.MLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MLogoutServlet</servlet-name>
    <url-pattern>/MLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MDelProductServlet</display-name>
    <servlet-name>MDelProductServlet</servlet-name>
    <servlet-class>servlet.MDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MDelProductServlet</servlet-name>
    <url-pattern>/MDelProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiProductServlet</display-name>
    <servlet-name>ModiProductServlet</servlet-name>
    <servlet-class>servlet.ModiProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiProductServlet</servlet-name>
    <url-pattern>/ModiProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiCombinationServlet</display-name>
    <servlet-name>ModiCombinationServlet</servlet-name>
    <servlet-class>servlet.ModiCombinationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiCombinationServlet</servlet-name>
    <url-pattern>/ModiCombinationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiOrderStateServlet</display-name>
    <servlet-name>ModiOrderStateServlet</servlet-name>
    <servlet-class>servlet.ModiOrderStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiOrderStateServlet</servlet-name>
    <url-pattern>/ModiOrderStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
</web-app>